body {
  background: url(./memphis-colorful.png);
}

/* TODO */
.todo {
  width: 400px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.todo-header {
  display: flex;
  justify-content: space-between;
  background: #2980b9;
}

.todo-heading {
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.todo-buttons > * {
  height: 100%;
  margin: 5px;
  background: #48dafb;
  font-weight: bold;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 5px 10px #30336b;
  transform: translateY(-20px);
  font-size: 16px;
  padding: 10px;
}

.todo-buttons > *:hover {
  animation: jumping 1s infinite;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.todo-list__item {
  background: #48dafb79;
  color: #666;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: normal;
  transition: all 1s;
}

.todo-list__item:nth-child(even) {
  background: #0abbe379;
}

.todo-list__item span {
  height: 40px;
  width: 30px;
  margin-left: auto;
  color: red;
  position: relative;
}

.todo-list__item span:hover {
  animation: pulsate 1s infinite;
}

/* MODAL */
.modal {
  width: 100vw;
  height: 0;
  overflow: hidden;
  background: #70a2ffbd;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.7s;
}

.modal-active {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.modal .modal-content {
  text-align: center;
  background-color: #34495e;
  border-radius: 7px;
  margin: 10rem auto;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  position: relative;
}

.modal-content h1 {
  font-size: 25px;
}

.modal-content button {
  display: block;
  background: linear-gradient(to bottom right, #e98f84, #c91603);
  margin-top: 20px;
  border: none;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
}

.modal-content button:hover {
  transform: scale(1.1);
}

.hideBtn {
  position: absolute;
  z-index: 9999;
  top: 14px;
  right: 14px;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.hideBtn:hover {
  transform: rotate(90deg);
  opacity: 1;
}

/* icon */
.fa-trash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo-input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.todo-input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

.completed {
  color: gray;
  background: lightgray !important;
  text-decoration: line-through;
  opacity: 0.5;
}

/* animations */
@keyframes jumping {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
